<ul class="navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" (click)="switchBoard('IT')">IT<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="switchBoard('Sales')">Sales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="switchBoard('HR')">HR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="switchBoard('Finance')">Finance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="switchBoard('Production')">Production</a>
  </li>
</ul>