/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    background-color: darkgrey;
    height: 60px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}