<div [ngSwitch]="this.curView.view">
    <li *ngSwitchCase="'specific'" class="list-group-item">
        <div *ngIf="op === true" class="row">
            <div class="col-sm-5 col-md-3">
                <img [src]="thread.imagePath" class="rounded resizable" width="150" height="150">
            </div>
            <div class="col-sm-7 col-md-9">
                <h5>{{ thread.username }} says:</h5>
                <p>{{ thread.textContent }}</p>
            </div>
        </div>
                
        <div *ngIf="op !== true" class="row">
            <div class="col-sm-3 col-md-2">
                <img [src]="thread.imagePath" class="rounded resizable" width="100" height="100">
            </div>
            <div class="col-sm-9 col-md-10">
                <h5>{{ thread.username }} says:</h5>
                <p>{{ thread.textContent }}</p>
            </div>
        </div>
    </li>
    <figure *ngSwitchDefault class="figure">
        <img [src]="thread.imagePath" class="figure-img rounded resizable" width="150" height="150">
        <figcaption class="figure-caption">
            <h5>{{ thread.title }}</h5>
            <p>{{ thread.textContent }}</p>
        </figcaption>
    </figure>
</div>