.list-group-item {
    margin-top: 10px;
}

div li {
    background-color: #14141f;
    color: #f2f2f2;
}

h5 {
    color: #d9d9d9;
}

p {
    color: #f2f2f2;
}

.resizable {
    float: left;
    position: relative;
    margin: 3px;
}

.resizable img {
    vertical-align: bottom;
}

.resizable:hover {
    border: 0;
    z-index: 1;
}

.resizable span {
    position: absolute;
    visibility: hidden;
}

.resizable:hover span {
    visibility: visible;
    top: -10px;
    left: -10px;
}
